body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

body.full-height{
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.submitBtn {
    color: white;
    background: linear-gradient(to right, rgb(255, 162, 0), rgb(244, 199, 109));
    border: solid 1px whitesmoke;
    border-radius: 50px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
}

.submitBtn:hover{
    background: white;
    color: rgb(255, 162, 0);
    border:solid 1px rgb(255, 162, 0);
    transition: all 0.3s ease;
}

.body-movie {
    display: none;
    flex-direction: row;
    width: 75%;
    align-items: flex-start;
    justify-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 25px;
    position: relative;
}

.body-movie::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(53, 53, 53), rgba(0, 0, 0, 0.6));
    z-index: 1;
}

.movie-details-wrapper {
    position: relative;
    z-index: 2;
}

.body-movie.visible {
    display: flex; 
}

.movie-poster {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    width: 240px;
    height: 360px;
}

.movie-details {
    color: white;
    display: flex;
    flex-direction: column;
}

.movie-info {
    margin-top:0;
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: white;
}

.movie-overview {
    width: auto;
    word-wrap: break-word;
    margin-top: 10px;
    color: white;
}

a{
    text-decoration: none;
    color: rgb(255, 162, 0);
}

.user-interaction{
    display:flex;
    gap: 25px;
}

.trailer-show{
    margin: 35px;
    display: flex;
    justify-content: start;
    gap: 25px;
}

iframe{
    border-radius: 10px;
    border: none;
    
}

.review-box{
    width: 50%;
    height: 50%;
    padding: 15px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.review-item-head{
    display:flex;
    gap: 10px;
    align-items: center;
}

.profile-icon {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.profile-info{
    display: flex;
    flex-direction: column;
}
.profile-info p{
    margin:1px;
}

.profile-info-details{
    align-items: center;
    display:flex;
    gap: 7px;
}

.profile-info-details p:first-child{
    font-size: smaller;
    background-color: rgb(255, 162, 0);
    color: black;
    padding: 5px;
    border-radius: 5px;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
    background: linear-gradient(to right, rgb(255, 162, 0), rgb(244, 199, 109));
}

footer.remove-class{
    position: absolute;
}


.ft-text{ 
    color: rgba(0,0,0,.7); 
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}
